.lanes {
  width: 980px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction:  row wrap;
  justify-content: flex-start;
  background-color: blue;
}

.lane {
  min-width: 100px;
  min-height: 25vh;
  display: flex;
  flex-direction: column nowrap;
  justify-content: center;
  background-color: #fff;
}
