/* Note styles */
.Note {
  width: 18vw;
  margin: 3px;
  min-height: 2vw;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 3px;
  flex-flow: row wrap;

  font-size: 18px;
  }

 ul {
  list-style-type: none;

}
